mat-form-field{
    width: 100%;
}
mat-radio-group{
    width: 100%;
}
.exemple-radio-group{
    display: flex;
    flex-direction: column;
    margin: 8px;

}
.exemple-radio-button{
    margin: 5px;
}