
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Ressource Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}"> DASHBORD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="allallocation" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">ALLOCATIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="manageitem" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">ITEM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="manageproject" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">PROJECT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="manageuser" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">USERS</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>