<Div class="container">
    <button class="btn btn-outline-primary mt-5" type="submit"  routerLink="/newuser" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">New Item</button>
    
    <button class="btn btn-outline-secondary mt-5" type="submit"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">Export</button>

    <h2>Manage Users</h2>
    
</Div>

<div class="table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">EMPLOYEE ID</th>
            <th scope="col">EMPLOYEE NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">PHONE</th>
            <th scope="col">PROJECT</th>
            <th scope="col">BIRTH DATE</th>
            <th scope="col">ASSIGNED DATE</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th> </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">103</th>
                <td>JEPTHE</td>
                <td>nosby2007@gmail.com</td>
                <td>971557730791</td>
                <td>MANPOWER</td>
                <td>03/04/1989</td>
                <td>02/11/2022</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">104</th>
                <td>JEPTHE</td>
                <td>nosby2007@gmail.com</td>
                <td>971557730791</td>
                <td>MANPOWER</td>
                <td>03/04/1989</td>
                <td>02/11/2022</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">105</th>
                <td>JEPTHE</td>
                <td>nosby2007@gmail.com</td>
                <td>971557730791</td>
                <td>MANPOWER</td>
                <td>03/04/1989</td>
                <td>02/11/2022</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">106</th>
                <td>JEPTHE</td>
                <td>nosby2007@gmail.com</td>
                <td>971557730791</td>
                <td>MANPOWER</td>
                <td>03/04/1989</td>
                <td>02/11/2022</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
           
        </tbody>
      </table>
</div>
