<Div class="container">
    <button class="btn btn-outline-primary mt-5" type="submit"  routerLink="/newproject" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">New Projet</button>
    
    <button class="btn btn-outline-secondary mt-5" type="submit"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">Export</button>

    <h2>Manage Project</h2>
    
</Div>

<div class="table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Name</th>
            <th scope="col">Description</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
      </table>
</div>
